body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: random 15s infinite;



}

h1{     
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) ;
    padding: 10px;
    display: inline-block;

}

table{
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
}

th{
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
}

td{
    padding: 10px;
    background-color: rgb(175, 174, 174);
    
}
nav ul{
    list-style: none;
    width: 15%;
    padding: 2px;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    transition: margin-left 1.5s;
    margin: 5px;
    padding: 5px;
}
nav ul li a:hover{
    margin-left: 30px;
}
#fl{
    color: purple;
}

#perfect{
    color: blue;
}

#pole{
    color: red;
}
#moha{
    color: green
}
#wc{
    color: gold
}
.fun-color {
    animation: random 15s infinite;
    }
    
    @keyframes random {
    0% {background-color: blueviolet;}
    15% { background-color: #e3ff87; } 
    30% { background-color: #ff7c96; } 
    45% { background-color: #6ffffa; }
    60% { background-color: #ef6b30; } 
    75% { background-color: #bf69b1; }
    90% {background-color: lightgreen;} 
    100%{background-color: lightsteelblue;}
    }